<div class="header">
  <div class="header-content">
    <h1>Lista de produtos</h1>
    <input class="input" placeholder="Buscar" (keyup)="onChangeInput($event)" />
  </div>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- PriceSale Column -->
    <ng-container matColumnDef="priceSale">
      <th mat-header-cell *matHeaderCellDef>Preço de venda</th>
      <td mat-cell *matCellDef="let element">{{ convertBrazil(element.priceSale) }}</td>
    </ng-container>

    <!-- Unity Column -->
    <ng-container matColumnDef="unity">
      <th mat-header-cell *matHeaderCellDef>Unidade</th>
      <td mat-cell *matCellDef="let element">{{ element.unity.name }}</td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/produtos/cadastro', {id:element.id}]"
          style=" cursor: pointer; margin-right: 15px;">Editar</a>
        <a (click)="openDialog(element)" style="cursor: pointer;">Remover</a>
      </td>
    </ng-container>
  </table>
</div>
<div>

  <mat-paginator #paginator class="paginator-text" [length]="pagination.length " [pageSize]="pagination.size"
    [showFirstLastButtons]="true" [pageIndex]="pagination.page" [hidePageSize]="true" (page)="handlePageEvent($event)">
  </mat-paginator>

</div>
