<mat-card class="card-wrapper">
  <mat-card-content class="card-container">
    <div class="card-title">
      <h1>Cadastro de unidades </h1>
    </div>
    <div class="form-container">
      <form (submit)="onSubmit($event)">
        <div class="input-form">
          <label class="label" for="id">Id</label>
          <input class="input" id="id" [value]="id" placeholder="Id" disabled />
        </div>

        <div class="input-form">
          <label class="label" for="name">Nome</label>
          <input class="input" id="name" [value]="name" placeholder="Digite o nome" (keyup)='onChangeName($event)' />
          <small class="error-form" *ngIf="touched && name==''">Campo obrigatório</small>
        </div>
        <div class="button-form">
          <button mat-button color="warm" type="reset" (click)="reset()" style="margin-right:25px;">
            <p class="button-form-style">Limpar</p>
          </button>
          <button mat-raised-button color="primary" type="submit">
            <p class="button-form-style">Enviar</p>
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
